
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "PressStart2P";
	src: url("../assets/PressStart2P-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
:root {
	--pong-black: #312521;
	--pong-white: #5a5244;
	--pong-text-field: #9a8662;
}
:root.pong-night-mode {
	--pong-black: #5a5244;
	--pong-white: #312521;
	--pong-text-field: #4d4537;
}
@layer utilities {

	#tournament_size::-webkit-inner-spin-button,
	#tournament_size::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	#tournament_size[type="number"] {
		-moz-appearance: textfield;
	}
	#tournament_list_ul {
		scrollbar-width: auto;
		scrollbar-color: var(--pong-black) var(--pong-white);
		position: relative;
		overflow-y: scroll;
	}

	#tournament_list_ul::-webkit-scrollbar {
		width: 24px;
		background: transparent;
	}

	#tournament_list_ul::-webkit-scrollbar-track {
		background: transparent;
	}

	#tournament_list_ul::-webkit-scrollbar-thumb {
		background-color: var(--pong-black);
		border-radius: 0;
		min-height: 2px;
		width: 32px;
	}
}
@layer components {

	.pong-background {

		@apply bg-[var(--pong-white)] h-screen;
	}
	.pong-root {

		@apply flex justify-center items-center w-screen h-screen;
	}
	.pong-panel {

		@apply grid grid-cols-[650px_200px] grid-rows-[80px_450px] gap-0 bg-[var(--pong-white)];
	}
	.pong-top-left {

		@apply col-start-1 row-start-1 relative;
	}
	.pong-bottom-left {

		@apply	col-start-1 row-start-2 relative
				flex justify-center items-center
				border-4 border-[var(--pong-black)]
				rounded-lg overflow-hidden;
	}
	.pong-game-screen {

		@apply	relative z-10
				bg-[var(--pong-white)] border-4 border-[var(--pong-black)];

	}
	.pong-bottom-right {

		@apply col-start-2 row-start-2 flex flex-col gap-2 pl-6;

	}
	.pong-button {

		@apply  px-2.5 py-1 
				bg-[color:var(--pong-white)] 
				text-[10px] text-[color:var(--pong-black)] font-['PressStart2P',monospace]
				hover:text-[color:var(--pong-white)] hover:bg-[color:var(--pong-black)] 
				border-4 border-[color:var(--pong-black)] rounded-none;
	}
	.pong-bottom-buttons {

		@apply mt-auto flex flex-col gap-2;

	}
	.pong-cancel-button {

		@apply	w-5 h-5 flex justify-center items-center absolute top-[2px] left-[2px]
				cursor-pointer
				text-[12px] text-[color:var(--pong-black)]
				hover:text-[color:var(--pong-white)] hover:bg-[color:var(--pong-black)];

	}
	.pong-submit-button {

		@apply  pong-button text-[12px] px-3 py-1;
	}
	.pong-button-small {

  		@apply  p-2 mb-2 h-[42px] px-0.5 py-0.5
				bg-[color:var(--pong-black)] border-2 border-[color:var(--pong-black)] rounded-none
				hover:bg-[color:var(--pong-white)]
				hover:text-[color:var(--pong-black)]
				text-[14px] text-[color:var(--pong-white)] font-['PressStart2P',monospace];
	}
	.pong-icon {
		
		@apply inline-block scale-[2] origin-center leading-none align-middle relative -top-[5px];
		
	}
	.pong-input-field {

		@apply  w-full p-2 mb-2 
				bg-[color:var(--pong-white)] 
				border-2 border-[color:var(--pong-black)] rounded-none 
				text-[color:var(--pong-black)] font-['PressStart2P',monospace]
				placeholder:text-[12px];
			
		@apply placeholder-[var(--pong-text-field)];
	
	}
	.pong-modal-top-text {

		@apply  mb-4 justify-center mt-4 
				text-base text-[color:var(--pong-black)] font-['PressStart2P',monospace];
	}
	.pong-modal {

		@apply  flex flex-col items-center justify-center
				absolute z-50 p-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
				w-[400px] max-w-[90vw]
				bg-[color:var(--pong-white)]
				border-4 border-[color:var(--pong-black)] rounded-none
				text-[color:var(--pong-black)] font-['PressStart2P',monospace];
	}
	.pong-waiting {

		@apply	absolute z-50 px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 whitespace-nowrap 
				bg-[color:var(--pong-white)]
				border-4 border-[color:var(--pong-black)] rounded-none
		    	text-[12px] text-[color:var(--pong-black)] font-['PressStart2P',monospace];

	}
	.pong-notification-bar {

		@apply absolute z-50 top-0 left-0 right-0 bottom-2 
			   flex items-center justify-center whitespace-nowrap 
		       bg-[color:var(--pong-white)]
		       border-4 border-[color:var(--pong-black)] rounded-md
		       text-[10px] text-[color:var(--pong-black)] font-['PressStart2P',monospace]
		       opacity-0 pointer-events-none transition-opacity;

	}
	.pong-load-animation {

		@apply flex flex-col items-center justify-center w-[608px] h-[408px];
	}
	.pong-tournament-list {

		@apply	flex flex-col gap-2 overflow-y-auto overflow-x-hidden 
				max-h-[270px] pr-4 w-[370px] max-w-[90vw];
	}
	.pong-tournament-list-button {

		@apply	w-full grid grid-cols-[1fr_64px_56px] items-center gap-2 
				border-2 border-[var(--pong-black)] px-3 py-1.5
				text-[10px] text-left;
	}
}