@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "PressStart2P";
    src: url("../assets/PressStart2P-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --pong-white: #c7f6ff;
    --pong-black: #000708;
    --pong-text-field: #c4dadfb1;
}

:root.pong-day-mode {
    --pong-white: #000708;
    --pong-black: #c7f6ff;
    --pong-text-field: #9ca5a7b1;
}

@layer utilities {

    /* Quitar flechas de input number */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Scrollbar personalizada Pong */
    .pong-scrollbar {
        scrollbar-width: auto;
        scrollbar-color: var(--pong-white) transparent;
    }

    .pong-scrollbar::-webkit-scrollbar {
        width: 16px;
    }

    .pong-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .pong-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--pong-white);
        border-radius: 0;
        min-height: 8px;
    }

    /* --- NUEVO: Ocultar scrollbar (Settings Menu) --- */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@keyframes scanline {
    0%   { bottom: 100%; }
    80%  { bottom: 100%; }
    100% { bottom: 0%; }
}

@layer components {
    
    .pong-background {
        @apply relative flex justify-center items-center w-screen h-screen 
        bg-[var(--pong-black)] overflow-hidden;
    }
    .crt-overlay {
        @apply fixed inset-0 pointer-events-none z-10 
        mix-blend-multiply 
        bg-[radial-gradient(ellipse_at_center,rgba(0,0,0,0)_0%,rgba(0,0,0,0.4)_60%,rgba(0,0,0,0.9)_96%)];
    }
    .scanline {
        @apply absolute w-full z-50 opacity-10 h-[100px] bottom-[100%] 
        bg-[linear-gradient(0deg,rgba(0,0,0,0)_0%,rgba(255,255,255,0.2)_10%,rgba(0,0,0,0.1)_100%)] 
        animate-[scanline_7s_linear_infinite];
    }
    .pong-root {
        @apply relative flex justify-center items-center w-screen h-screen
                scale-[2] blur-[0.6px];
    }
    .pong-root::before {
        content: '';
        @apply absolute inset-0 pointer-events-none z-40 
        bg-[linear-gradient(to_bottom,rgba(140,46,46,0.25)_50%,rgba(70,130,47,0.25)_50%)] 
        bg-[length:100%_2px];
    }
    .pong-root::after {
        content: '';
        @apply absolute inset-0 pointer-events-none z-40 opacity-30
        bg-[radial-gradient(rgba(0,64,255,0.35)_2px,transparent_1px)]
        bg-[length:4px_4px];
    }
    .pong-font {
        @apply text-[10px] text-[color:var(--pong-white)] font-['PressStart2P',monospace];
    }
    .pong-font-hover {
        @apply  hover:text-[color:var(--pong-black)] hover:bg-[color:var(--pong-white)];
    }
    .invisible-slot {
        @apply invisible opacity-0 pointer-events-none;
    }
    .visible-slot {
        @apply visible opacity-100 pointer-events-auto;
    }
    .pong-icon {
        @apply inline-block scale-[3] origin-center leading-none align-middle relative -top-[6px];
    }
    .pong-panel {
        @apply  grid
                grid-cols-1
                grid-rows-[auto_400px_25px]
                py-1
                w-[650px]
                overflow-hidden;
    }
    .pong-top-bar {
        @apply  row-start-1 flex justify-between items-center relative
                pr-[1.3rem] pl-[1.3rem] pb-3 pt-1 h-auto;
    }
    .pong-top-bar-profiles {
        @apply flex flex-col gap-1;
    }
    .pong-top-bar-names {
        @apply pong-font;
    }
    .avatar-placeholder {
        @apply  flex items-center justify-center
                w-[5.5rem] h-10
                border-4 rounded-none border-[var(--pong-white)]
                text-[30px] text-[color:var(--pong-white)]
                pong-font-hover;
    }
    .pong-top-bar-notification {
        @apply  flex justify-center items-center
                pong-font
                max-h-32 max-w-[26.5rem] overflow-y-auto p-2
                opacity-100 pointer-events-auto transition-opacity
                pong-scrollbar
                whitespace-pre-wrap break-words;
    }
    .pong-bottom-bar {
        @apply  row-start-2 relative
                flex justify-center items-center;
    }
    .pong-game-screen {
        @apply bg-transparent border-4 border-[color:var(--pong-white)];
    }
    .pong-menu-modal {
        @apply absolute flex flex-col z-20 w-[608px] h-[408px];                     
    }
    .pong-profile-header {
        @apply flex flex-col items-center gap-1 py-3 mt-9;
    }
    .pong-menu-displayname {
        @apply pong-font text-[24px] text-center;     
    }
    .pong-menu-username {
        @apply pong-font opacity-70 text-center;
    }
    .pong-menu-buttons {
        @apply flex justify-center gap-3 pt-6 z-20;
    }
    .pong-button {
        @apply  px-2.5 py-1 
                pong-font text-[8px]
                pong-font-hover;
    }
    .active-border {
        @apply border-[3px] border-[color:var(--pong-white)] rounded-none;
    }
    .pong-menu-list-container {
        @apply flex flex-col w-[400] max-h-[217px] overflow-y-auto pong-scrollbar relative z-10;
    }
    /* Actualizado para ser más flexible */
    .pong-list {
        @apply flex flex-col items-center;
    }
    .pong-button.full-width {
        @apply w-[253px] my-1 text-center;
    }
    .pong-cancel-button {
        @apply  w-5 h-5 flex justify-center items-center absolute top-[2px] left-[2px]
                cursor-pointer
                text-[12px] text-[color:var(--pong-white)]
                hover:text-[color:var(--pong-black)] hover:bg-[color:var(--pong-white)];
    }
    .pong-submit-button {
        @apply  text-[color:var(--pong-black)] bg-[color:var(--pong-white)] font-['PressStart2P',monospace] hover:text-[color:var(--pong-white)] hover:bg-[color:var(--pong-black)] text-[12px] px-3 py-1;
    }
    .pong-button-small {
        @apply  p-2 mb-2 h-[42px] px-0.5 py-0.5
                bg-[color:var(--pong-white)] border-2 border-[color:var(--pong-white)] rounded-none
                hover:bg-[color:var(--pong-black)]
                hover:text-[color:var(--pong-white)]
                text-[14px] text-[color:var(--pong-black)] font-['PressStart2P',monospace];
    }
    .pong-input-field {
        @apply  w-full p-2 mb-2 
                bg-[color:var(--pong-black)] 
                border-2 border-[color:var(--pong-white)] rounded-none 
                text-[color:var(--pong-white)] font-['PressStart2P',monospace]
                placeholder:text-[12px];
        @apply placeholder-[var(--pong-text-field)];
    }
    .pong-modal-top-text {
        @apply  mb-4 justify-center mt-4 
                text-base text-[color:var(--pong-white)] font-['PressStart2P',monospace];
    }
    .pong-modal {
        @apply  flex flex-col items-center justify-center
                absolute z-50 p-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 mt-4 
                w-[400px] max-w-[90vw]
                bg-[color:var(--pong-black)]
                border-4 border-[color:var(--pong-white)] rounded-none
                text-[color:var(--pong-white)] font-['PressStart2P',monospace];
    }
    .pong-waiting {
        @apply  absolute z-50 px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 whitespace-nowrap 
                bg-[color:var(--pong-black)]
                border-4 border-[color:var(--pong-white)] rounded-none
                text-[12px] text-[color:var(--pong-white)] font-['PressStart2P',monospace];
    }
    .pong-load-animation {
        @apply flex flex-col items-center justify-center w-[608px] h-[408px];
    }
    .pong-tournament-list {
        @apply  flex flex-col gap-2 overflow-y-auto overflow-x-hidden 
                max-h-[270px] pr-4 w-[370px] max-w-[90vw];
    }
    .pong-tournament-list-button {
        @apply  w-full grid grid-cols-[1fr_64px_56px] items-center gap-2 
                border-2 border-[var(--pong-white)] px-3 py-1.5
                text-[10px] text-left;
    }
    .profilepic-grid {
        @apply grid grid-cols-4 gap-3 place-items-center;
    }
    .profilepic-item {
        @apply avatar-placeholder cursor-pointer select-none
               pong-font-hover;
               align-items: end;
    }
    .pong-box {
        @apply flex items-center justify-between active-border mb-1 w-[300px] max-w-[90vw] px-2 py-1;
    }
    .pong-list-box-name-msg {
        @apply flex flex-col flex-1 mr-2 overflow-hidden pong-font text-[8px] truncate;
    }
    .pong-list-box-button {
        @apply flex gap-1 shrink-0;
    }
    .pong-list-box-reply {
        @apply pong-button text-[8px] px-2.5 py-1
    }
}