
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "PressStart2P";
	src: url("../assets/PressStart2P-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
:root {
	--pong-black: #312521;
	--pong-white: #5a5244;
	--pong-text-field: #9a8662;
}
:root.pong-night-mode {
	--pong-black: #5a5244;
	--pong-white: #312521;
	--pong-text-field: #4d4537;
}
@layer utilities {

	.pong-scrollbar {
		scrollbar-width: auto;
		scrollbar-color: var(--pong-black) transparent;
	}

	.pong-scrollbar::-webkit-scrollbar {
		width: 16px;
	}

	.pong-scrollbar::-webkit-scrollbar-track {
		background: transparent;
	}

	.pong-scrollbar::-webkit-scrollbar-thumb {
		background-color: var(--pong-black);
		border-radius: 0;
		min-height: 8px;
	}
}
@layer components {

	.pong-background {

		@apply bg-[var(--pong-white)] h-screen;
	}
	.pong-root {

		@apply flex justify-center items-center w-screen h-screen;
	}
	.pong-font {

		@apply text-[10px] text-[color:var(--pong-black)] font-['PressStart2P',monospace];
	}
	.pong-font-hover {
		@apply  hover:text-[color:var(--pong-white)] hover:bg-[color:var(--pong-black)];
	}
	.pong-icon {
		
		@apply inline-block scale-[3] origin-center leading-none align-middle relative -top-[6px];
		
	}
	.pong-panel {
		@apply	grid
				grid-cols-1
				grid-rows-[auto_400px_25px]
				py-1
				w-[650px]
				border-4 border-[var(--pong-black)]
				rounded-lg
				overflow-hidden
				bg-[var(--pong-white)];
	}
	.pong-top-bar {

		@apply	row-start-1 flex justify-between items-center relative
				px-4 pb-3 pt-1 h-auto;

	}
	.pong-top-bar-profiles {

		@apply flex flex-col gap-1;
	}
	.pong-top-bar-names {

		@apply pong-font;
	}
	.avatar-placeholder {
		
		@apply	flex justify-center items-center
				w-[5.5rem] h-10
				text-[30px] text-[color:var(--pong-black)]
				border-4 rounded-sm border-[var(--pong-black)]
				pong-font-hover;
	}
	.pong-top-bar-notification {
		
		@apply	flex justify-center items-center
				pong-font
				max-h-32 max-w-[26.5rem] overflow-y-auto p-2
				opacity-100 pointer-events-auto transition-opacity
				pong-scrollbar
				whitespace-pre-wrap break-words;
	}
	.pong-bottom-bar {
		@apply	row-start-2 relative
				flex justify-center items-center;
	}
	.pong-game-screen {

		@apply	bg-[var(--pong-white)]
				border-4 border-[var(--pong-black)] rounded-none;
	}
	.pong-menu-modal {
		@apply absolute flex flex-col z-20
				w-[608px] h-[408px]
				bg-[var(--pong-white)]
				border-4 border-[var(--pong-black)];
	}
	.pong-profile-header {

		@apply flex flex-col items-center gap-1 py-3 mt-9;
	}
	.pong-menu-displayname {

		@apply pong-font text-[24px] text-center;
	}
	.pong-menu-username {
		@apply pong-font opacity-70 text-center;
	}
	.pong-menu-buttons {
		@apply flex justify-center gap-3 pt-6 z-20;
	}
	.pong-button {

		@apply  px-2.5 py-1 
				bg-[color:var(--pong-white)] 
				pong-font text-[8px]
				pong-font-hover;
	}
	.active-border {
		@apply border-[3px] border-[color:var(--pong-black)] rounded-none;
	}
	.pong-menu-list-container {
		@apply flex flex-col w-1/2 max-h-[217px] overflow-y-auto pong-scrollbar relative z-10;
	}
	.pong-list {
		@apply flex flex-col items-center w-full;
	}
	
	.pong-button.full-width {
		@apply w-[253px] my-1 text-center;
	}
	.pong-cancel-button {

		@apply	w-5 h-5 flex justify-center items-center absolute top-[2px] left-[2px]
				cursor-pointer
				text-[12px] text-[color:var(--pong-black)]
				hover:text-[color:var(--pong-white)] hover:bg-[color:var(--pong-black)];

	}
	.pong-submit-button {

		@apply  pong-button active-border text-[12px] px-3 py-1;
	}
	.pong-button-small {

  		@apply  p-2 mb-2 h-[42px] px-0.5 py-0.5
				bg-[color:var(--pong-black)] border-2 border-[color:var(--pong-black)] rounded-none
				hover:bg-[color:var(--pong-white)]
				hover:text-[color:var(--pong-black)]
				text-[14px] text-[color:var(--pong-white)] font-['PressStart2P',monospace];
	}
	.pong-input-field {

		@apply  w-full p-2 mb-2 
				bg-[color:var(--pong-white)] 
				border-2 border-[color:var(--pong-black)] rounded-none 
				text-[color:var(--pong-black)] font-['PressStart2P',monospace]
				placeholder:text-[12px];
			
		@apply placeholder-[var(--pong-text-field)];
	
	}
	.pong-modal-top-text {

		@apply  mb-4 justify-center mt-4 
				text-base text-[color:var(--pong-black)] font-['PressStart2P',monospace];
	}
	.pong-modal {

		@apply  flex flex-col items-center justify-center
				absolute z-50 p-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 mt-4 
				w-[400px] max-w-[90vw]
				bg-[color:var(--pong-white)]
				border-4 border-[color:var(--pong-black)] rounded-none
				text-[color:var(--pong-black)] font-['PressStart2P',monospace];
	}
	.pong-waiting {

		@apply	absolute z-50 px-6 py-4 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 whitespace-nowrap 
				bg-[color:var(--pong-white)]
				border-4 border-[color:var(--pong-black)] rounded-none
		    	text-[12px] text-[color:var(--pong-black)] font-['PressStart2P',monospace];

	}

	.pong-load-animation {

		@apply flex flex-col items-center justify-center w-[608px] h-[408px];
	}
	.pong-tournament-list {

		@apply	flex flex-col gap-2 overflow-y-auto overflow-x-hidden 
				max-h-[270px] pr-4 w-[370px] max-w-[90vw];
	}
	.pong-tournament-list-button {

		@apply	w-full grid grid-cols-[1fr_64px_56px] items-center gap-2 
				border-2 border-[var(--pong-black)] px-3 py-1.5
				text-[10px] text-left;
	}
}