/backend/.env
/frontend/game/public
.env

# ELK Stack .env & certs
/ops/ELK/.env
/ops/ELK/**/*.key
/ops/ELK/Elasticsearch/certs/**/*.key
/ops/ELK/Elasticsearch/certs/ca/ca.key
/ops/ELK/Elasticsearch/certs/ca/ca.srl

# Certificate private keys
*.key
!**/package-lock.json
!**/yarn.lock

# Elasticsearch data
/ops/ELK/elasticsearch-data/

# Kibana data
/ops/ELK/kibana-data/

# Logstash logs
/ops/ELK/Logstash/logs/*.log