services:
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: ft_backend
    ports:
      - "3000:3000"
    working_dir: /app
    user: "root"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ft_frontend
    ports:
      - "4000:4000"
    working_dir: /app
    user: "root"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped

networks:
  default:
    name: ft_network