services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ft_backend
    ports:
      - "3000:3000"
    working_dir: /app
    user: "root"
    environment:
      - NODE_ENV=production
    volumes:
      - db_data:/data
    restart: unless-stopped
    networks:
      - ft_transcen

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ft_frontend
    ports:
      - "4000:80"
    working_dir: /app
    user: "root"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - ft_transcen

  database:
    container_name: ft_database
    build:
      context: ./database
      dockerfile: Dockerfile
    ports:
      - "5000:8080"
    volumes:
      - db_data:/data
    restart: unless-stopped
    networks:
      - ft_transcen

networks:
  ft_transcen:
    driver: bridge

volumes:
  db_data:
